@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Plus+Jakarta+Sans:wght@300;400&family=Raleway:wght@400;500;800&family=Roboto+Slab&family=Signika+Negative:wght@300;400;500&family=Space+Grotesk:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap');
/* ### Primary - Red: hsl(1, 90%, 64%) - Blue: hsl(219, 85%, 26%) ### Neutral - White: hsl(0, 0%, 100%) - Very light grayish blue: hsl(210, 60%, 98%) - Light grayish blue 1: hsl(211, 68%, 94%) - Light grayish blue 2: hsl(205, 33%, 90%) - Grayish blue: hsl(219, 14%, 63%) - Dark grayish blue: hsl(219, 12%, 42%) - Very dark blue: hsl(224, 21%, 14%) */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Plus Jakarta Sans', sans-serif;
 background-color:hsl(205, 33%, 90%);
}
.notification-bar {
 width: 55%;
 background: hsl(0, 0%, 100%);
 margin: 0 auto;
 margin-top: 2em;
 border-radius: 8px;
 padding: 2em;
}
.top {
 display: flex;
 justify-content: space-between;
 margin-bottom: 2em;
}
.right-top p {
 font-weight: 600;
 cursor: pointer;
}
.notification-message {
  display: flex;
  flex-direction: column;
 cursor: pointer;
}
.not-no {
 color: white;
 background-color: hsl(224, 21%, 14%);
 padding: 1px 12px;
 border-radius: 5px;
 margin-left: 8px;
}
.message {
 display:  flex;
 padding: 1em;
 margin-bottom: .8em;
 border-radius: 8px;
 background-color: hsl(210, 60%, 98%);
  box-shadow: 0px 1px 4px rgb(214, 214, 214);
}
.image {
 width: 18%;
 position: relative;
}
.message-right {
 width: 82%;
 margin-left: -50px;
}
.img-icon {
 width: 50px;
 cursor: pointer;
}
.profile {
 margin-bottom: .3em;
 cursor: pointer;
}
.name {
 font-weight: bold;
}
.name:hover{
 color: hsl(228, 73%, 37%);
 /* text-transform: uppercase; */
}
.post {
 color: hsl(228, 73%, 37%);
 font-weight: bold;
}

.message-info {
 position: relative;
 left: 20px;
 width: 95%;
 background-color: hsl(205, 33%, 90%);
 padding: 1em 1.3em;
 border-radius: 8px;
 margin-top: .5em;
}
.hidden {
  display: none;
}

.chess {
 width: 8%;
}

@media (max-width: 375px) {
  .notification-bar {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  .message-right {
    margin-left: 0px;
  }
  .message-right p {
    font-size: .8rem;
  }
  .img-icon {
    width: 40px;
  }
  .top {
    font-size: .8rem;
  }
  .left-top {
    font-size: 1rem;
  }
  .chess {
    width: 13%;
  }
}

